@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Righteous&display=swap');


.welcome{
    font-family: 'Fredoka One', cursive;
}

.infoCard{
    transition: all 0.7s;
}
.infoCard:hover{
    transition: all 0.4s;
    transform: scale(1.04) rotate(2deg);
}

.infoCard2{
    transition: all 0.7s;
}

.infoCard2:hover{
    transition: all 0.4s;
    transform: scale(1.04) rotate(-2deg);
}



